<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <button id="favBtn" ng-click="$state.go('app.tournaments');" class="btn btn-info dim" type="button" tooltip-placement="bottom" uib-tooltip="Edit/Delete">
                            <i id="favIcon" class="fa fa-dashboard">Tournaments</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
