<div ng-controller="EventDetailsCtrl">
    <div class="row wrapper bSet-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Event Details</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>
                        Event Details
                    </strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>
                                All event details for Event :
                                <span style="color:forestgreen">
                                    {{$sessionStorage.event.eventName}}
                                </span>
                            </h5>
                            <div style="float: right;">
                                <a ng-click="createEventDetail()" ng-show="ifAdmin();" class="btn btn-primary dim">Create Event Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="div-table fadeInRight">
                                <!--Header-->
                                <div class="div-table-row">
                                    <div class="div-table-col">
                                        <strong>Event Detail Name</strong>
                                    </div>
                                    <div class="div-table-col">
                                        <strong>Event Detail Number</strong>
                                    </div>
                                    <div class="div-table-col">
                                        <strong>Event Detail Odds</strong>
                                    </div>
                                    <div class="div-table-col">
                                        <strong>Finishing Position</strong>
                                    </div>
                                    <div class="div-table-col">
                                        <strong>First Timer</strong>
                                    </div>
                                    <div class="div-table-col">
                                        <strong>Event Detail Status</strong>
                                    </div>
                                </div>
                                <!--Details-->
                                <div class="div-table-row">
                                    <div ng-show="spinLoadingEventDetails == true">
                                        <i style="font-size: 30px;" class="glyphicon glyphicon-refresh spinning"></i>
                                    </div>
                                    <div ng-repeat="eventDetail in $sessionStorage.eventDetails" class="div-table-row">
                                        <div class="div-table-col">
                                            <a href="" ng-click="editEventDetail(eventDetail)">{{eventDetail.eventDetailName}}</a>
                                        </div>
                                        <div class="div-table-col">
                                            <span >{{eventDetail.eventDetailNumber}}</span>
                                        </div>
                                        <div class="div-table-col">
                                            <span ng-if="eventDetail.eventDetailOdd == null">-</span>
                                            <span>{{eventDetail.eventDetailOdd}}</span>
                                        </div>
                                        <div class="div-table-col">
                                            <span ng-if="eventDetail.finishingPosition == null">-</span>
                                            <span>{{eventDetail.finishingPosition}}</span>
                                        </div>
                                        <div class="div-table-col">
                                            <span ng-if="eventDetail.firstTimer == null">-</span>
                                            <span>{{eventDetail.firstTimer}}</span>
                                        </div>
                                        <div class="div-table-col">
                                            <span ng-if="eventDetail.fkEventDetailStatusId == null">-</span>
                                            <span>{{eventDetail.fkEventDetailStatusId}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </
        /d
    </div>
    </
    /d
</div>

<!--<h5>params</h5>
   <pre>{{$stateParams | json}}</pre>
   <h5>state</h5>
   <pre>{{$state.current | json}}</pre>-->
