<div ng-controller="EventDetailCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Event Detail</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="..\"> Home </a>
                </li>
                <li class="active">
                    <strong>{{$state.$current.data.pageTitle}}</strong>
                </li>
            </ol>
        </div>
    </div>

    <form class="m-t" role="form" ng-submit="updateEventDetail($sessionStorage.eventDetail)">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idEventDetailName">Event Detail Name:</label>
            <div class="col-sm-6">
                <input class="input-sm form-control" id="idEventDetailName" type="text" name="input" required=""
                       ng-model="$sessionStorage.eventDetail.eventDetailName">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idEventDetailNumber">Event Detail Number :</label>
            <div class="col-sm-6">
                <input class="input-sm form-control" id="idEventDetailNumber" type="text" name="input" required=""
                       ng-model="$sessionStorage.eventDetail.eventDetailNumber">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idEventDetailOdd">Event Detail Odd :</label>
            <div class="col-sm-6">
                <input class="input-sm form-control" id="idEventDetailOdd" type="text" name="input" required=""
                       ng-model="$sessionStorage.eventDetail.eventDetailOdd">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idFinishingPosition">Finishing Position :</label>
            <div class="col-sm-6">
                <input class="input-sm form-control" id="idFinishingPosition" type="text" name="input" required=""
                       ng-model="$sessionStorage.eventDetail.finishingPosition">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">First Timer : </label>
            <div class="col-sm-1">
                <input class="input-sm form-control" type="checkbox" ng-value="1"
                       ng-model="$sessionStorage.eventDetail.firstTimer" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idEventDetailStatus">Event Detail Status :</label>
            <div class="col-lg-6">
                <select id="idEventDetailViews" data-style="bg-black rounded-pill" class="form-control input-sm selectpicker"
                        ng-model="$sessionStorage.eventDetail.fkEventDetailStatusId" ng-options="detailStatus.eventDetailStatusId as detailStatus.eventDetailStatusName for detailStatus in $sessionStorage.detailStatuses">
                </select>
            </div>
        </div>

        <button type="button" class="btn btn-success dim pull-left" ng-click="goBack();">
            <i class="fa fa-arrow-left"></i>
            Cancel
        </button>

        <button type="submit" class="btn btn-primary dim">
            <span ng-show="spinUpdateEventDetail == 'Saving'">
                <i class="glyphicon glyphicon-refresh spinning"></i>
            </span>
            <span ng-show="spinUpdateEventDetail != 'Saving'">
                <i class="glyphicon glyphicon-save"></i>
            </span>
            {{ spinUpdateEventDetail }}
        </button>

        <button style="float:right" id="favBtn" ng-click="deleteEventDetail($sessionStorage.eventDetail);" class="btn btn-danger dim" type="button" tooltip-placement="bottom" uib-tooltip="Remove Event Detail">
            <i id="favIcon" class="fa fa-trash"></i>
            Delete
        </button>
    </form>
    <p class="m-t"> <small>CC &copy; 2020</small> </p>

</div>


